{% extends 'base.html' %}

{% block title %}
Статьи АВТОРА {{ request.user }}
{% endblock %}

{% block content %}

 <ul class="list-group mb-5">
     <li class="list-group-item list-group-item-action"><b>Username:</b>{{ request.username.user }}</li>
     <li class="list-group-item list-group-item-action"><b>Email:</b>{{ request.user.email }}</li>
     <li class="list-group-item list-group-item-action"><b>Просмотры:</b> {{ total }} </li>
     <li class="list-group-item list-group-item-action"><b>На сайте:</b>{{ days }} дней </li>
     <li class="list-group-item list-group-item-action"><b>Отзывы:</b>{{comments_count}}</li>
     <li class="list-group-item list-group-item-action"><b>Лайк:</b>{{total_likes}}</li>
     <li class="list-group-item list-group-item-action"><b>ДизЛайк:</b>{{total_dislikes}}</li>
 </ul>

<div class="row row-gap-4">
    {% for article in articles %}
    <div class="col-4">{% include 'components/_article-card.html' %}</div>
    {% endfor %}
</div>
{% endblock %}